
// mixins
@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
    
}

@mixin translateY($e) {
    -webkit-transform: $e;
    -moz-transform:$e;
    transform:$e;
    
}

html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }