// .row{
//     max-width: 114rem;
//     margin: 0 auto;
//     background-color: #eeee;
//     &:not(:last-child){
//         margin-bottom: $gutter-vertical;
//     }
//     .col-1-of-2{

//         width: calc((100% - #{$gutter-horizontal} / 2));
//         background-color: orangered;
//         float: left;
//         &:not(:last-child){
//             margin-right:$gutter-horizontal;
//         }
//     }
// }
.l-wrap {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .grid-item {
    width: calc((100% - 24px * 2) / 3);
    margin-top: 24px;
    margin-right: 24px;
    float: left;
  }
  
  /* For a 3-column grid */
//   .grid-item:nth-child(3n+3) {
//     margin-right: 0;
//     float: right;
//   }
  

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
    background: rgba(red, 0.25);
  
  }