.l-wrap {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto; }

.grid-item {
  width: calc((100% - 24px * 2) / 3);
  margin-top: 24px;
  margin-right: 24px;
  float: left; }

/* For a 3-column grid */
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
  background: rgba(255, 0, 0, 0.25); }
